.main {
  width: 80%;
}

.example-form-field {
  margin-right: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field+.mat-form-field {
  margin-left: 8px;
  padding: 50px;
}

.botao_add_livro {
  text-align: right;
  margin: 30px;
}

.mat-raised-button.mat-warn {
  background-color: #bb2a2a;
}

.relatorio_acervo {
  margin-top: 20px;
  margin-bottom: 15px;
}

.relatorio_usuario {
  margin-top: 15px;
  margin-bottom: 15px;
}

.relatorio_emprestimo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.segundo_card {
  margin-top: 30px;
}

