<!-- <body>
  <section class="container">
    <div class="tela_login_total">
      <div class="tela_login_dados">
        <div class="tela_login_input">
          <h2 class="">Welcome</h2>

          <form action="">
            <div class="form-field">
              <label class="form-field_label" for="usuario">Usuário</label>
              <input class="form-field_input" id="usuario" type="text" />
            </div>
            <div class="form-field">
              <label class="form-field_label" for="senha">Senha</label>
              <input class="form-field_input" id="senha" type="password" />
            </div>

            <div class="botao-wrapper">
              <button class="botao">Logar</button>
            </div>
          </form>
        </div>
        <div class="tela_login_img">
        </div>
      </div>
    </div>
  </section>
</body> -->

<section class="main">
  <div class="main-login">
    <div class="login-imagem">
      <h1>Welcome</h1>
      <img
        src="../../assets/img/login-book-animate.svg"
        class="right-login-image"
        alt="Animação Pessoas lendo livros"
      />
    </div>

    <div class="login-input">
      <div class="card-login">
        <h1>Biblioteca Fatec Ourinhos</h1>
        <h2>Login</h2>
        <div class="textfield">
          <label for="usuairo"></label>
          <input type="text" name="usuario" placeholder="Usuario" />
        </div>
        <div class="textfield">
          <label for="senha"></label>
          <input type="password" name="senha" placeholder="Senha" />
        </div>
        <button class="botao">Logar</button>
      </div>
    </div>
  </div>
</section>
