<section [ngClass]="escondeLogin()">
  <div class="main-login">
    <div class="login-imagem">
      <!-- <h1>Welcome</h1> -->
      <img
        src="../../assets/img/library-animate_login.svg"
        class="right-login-image"
        alt="Animação Pessoas lendo livros"
      />
    </div>

    <div class="login-input">
      <div class="card-login">
        <h1>Biblioteca Fatec Ourinhos</h1>
        <h2>Login</h2>
        <div class="textfield">
          <label for="usuairo"></label>
          <input
            [(ngModel)]="usuario.nome"
            type="text"
            name="usuario"
            placeholder="Usuario"
          />
        </div>
        <div class="textfield">
          <label for="senha"></label>
          <input
            [(ngModel)]="usuario.senha"
            type="password"
            name="senha"
            placeholder="Senha"
          />
        </div>
        <div>
          <a href="inde.html">Esqueceu a senha?</a>
        </div>
        <button class="botao" type="submit" name="action" (click)="logar()">
          Logar
        </button>
      </div>
    </div>
  </div>
</section>
