<section>
  <div class="botao_add_livro">
    <button mat-raised-button color="warn">Add Livro</button>
  </div>

  <div>
    <table mat-table [dataSource]="livros" class="mat-elevation-z8 efeito">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let livros">{{ livros.nome }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="editora">
        <th mat-header-cell *matHeaderCellDef>Editora</th>
        <td mat-cell *matCellDef="let livros">{{ livros.editora }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="situacao">
        <th mat-header-cell *matHeaderCellDef>Situação</th>
        <td mat-cell *matCellDef="let livros">{{ livros.situacao }}</td>
      </ng-container>

      <ng-container matColumnDef="ispb">
        <th mat-header-cell *matHeaderCellDef>ISPB</th>
        <td mat-cell *matCellDef="let livros">{{ livros.ispb }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" aria-label="Select page">
    </mat-paginator>
  </div>
</section>
