<section class="container livros">
  <!-- <div>
    <mat-card>Simple card</mat-card>
    <h1>Tabela de Livros</h1>
  </div> -->
  <div class="input_botao">
    <mat-form-field class="find" appearance="standard">
      <mat-label>Pesquisar <mat-icon>find_in_page</mat-icon></mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Os Inovadores"
        #input
      />
    </mat-form-field>
    <button
      mat-raised-button
      class="botao_add_livro"
      color="warn"
      (click)="openDialog()"
    >
      Adicionar Livro
    </button>
  </div>

  <div>
    <h1>Tabela de Livros</h1>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 efeito">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let livros">{{ livros.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="editora">
        <th mat-header-cell *matHeaderCellDef>Editora</th>
        <td mat-cell *matCellDef="let row">{{ row.editora }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="dataInclusao">
        <th mat-header-cell *matHeaderCellDef>Data Inclusão</th>
        <td mat-cell *matCellDef="let row">{{ row.dataInclusao | date }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Situação</th>
        <td mat-cell *matCellDef="let row">{{ row.status }}</td>
      </ng-container>

      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef>ISBN</th>
        <td mat-cell *matCellDef="let row">{{ row.isbn }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editarLivro(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            color="warn"
            (click)="openDialogDelete('0ms', '0ms', row.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" aria-label="Select page">
    </mat-paginator>
  </div>
</section>
