table {
  width: 100%;
}

.input_botao {
  width: 100% !important;
  flex-direction: row;
}

.mat-form-field {
  font-size: 14px;
  width: 80%;
  margin-right: 70px;
}

.botao_add_user {
  text-align: right;
  margin-bottom: 20px;
  justify-content: end !important;
}

.mat-raised-button.mat-warn {
  background-color: #bb2a2a;
}

th.mat-header-cell {
  padding-right: 50px !important;
  // text-align: center !important;
}


