table {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.botao_add_user {
  text-align: right;
  margin-bottom: 20px;
}

.mat-raised-button.mat-warn {
  background-color: #bb2a2a;
}
