.example-card {
  max-width: 450px;
  margin: 100px;
}

.example-header-image {
  background-size: cover;
}

.h1 {
  font-size: 80px;
  margin: 30px;
}

.size {
  padding-bottom: 30px;
  font-size: 20px;
}