<section class="container">
  <div>
    <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title class="size">Total de obras no Acervo</mat-card-title>
        <mat-card-subtitle class="h1">100</mat-card-subtitle>
        <img mat-card-lg-image src="../../assets/img/livros.jpg">
      </mat-card-title-group>

      <mat-card-content>
        <!-- 100 -->
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <button (click)="baixarPdf()">Baixar Relatório</button>
  </div>
</section>