<section class="container">
  <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color"
    (click)="acervo()">
    Acervo
  </div>

  <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color"
    (click)="usuario()">
    Usuários
  </div>

  <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color"
    (click)="emprestimo()">
    Empréstimos
  </div>

  <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color"
    (click)="relatorio()">
    Relatórios
  </div>
</section>